my-build-tools
pure-lua-tools

output/
build/

*.pyc
*/Tools_php/
*/Tools_csharp/

packages/**/node_modules/
packages/npm/*.js

packages/pip/**.egg-info
packages/pip/dist/
packages/pip/**/UyghurLanguageTools.py
